@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Alfa+Slab+One&display=swap');

:root {
  --color-bg: white;
  --color-content: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: black;
    --color-content: white;
  }
}

body {
  overflow-x: hidden;
  width: 100vw;
  min-height: 100vh;
  color: var(--color-content);
  background-color: var(--color-bg);
}

*{
  margin: 0;
  padding: 0;
  font-family: "ABeeZee", sans-serif;
}

.font-alfa-slab {
  font-family: "Alfa Slab One", serif;
}

.text-gradient {
  background: linear-gradient(-90deg, #FF3BFF, #ECBFBF, #5C24FF, #D94FD5);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
